<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplicationExpressions.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\jkrause\Documents\Meine Daten\Projekte\Präsentationen\VSOne\2011\LINQ\ConsoleApplicationSql\NORTHWND.MDF&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>