<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplicationSql.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=.;AttachDbFilename=|DataDirectory|\App_Data\NORTHWND.MDF;Integrated Security=True;Connect Timeout=30;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>